:org.apache.felix.configadmin.revision:=L"1"
apiKey=""
bucket=""
endDate=""
id="timedata0"
isReadOnly=B"false"
maxQueueSize=I"5000"
measurement="data"
org="-"
poolSize=I"10"
queryLanguage="INFLUX_QL"
service.factoryPid="Timedata.InfluxDB"
service.pid="Timedata.InfluxDB.8edf3028-7319-4d86-b89c-4be454231cd2"
startDate=""
url="http://openems-influxdb:8086"
